.c0 {text-align: center;line-height: 13.872pt;margin-top: 0.0pt;margin-bottom: 0.0pt;margin-left: 6.0pt;margin-right: 6.0pt;}
.c1 {font-family: 'Times New Roman';font-size: 12.0pt;color: #000000;}
.c2 {margin-top: 0.0pt;margin-bottom: 0.0pt;margin-left: 6.0pt;margin-right: 6.0pt;}
.c3 {line-height: 16.184pt;margin-top: 0.0pt;margin-bottom: 0.0pt;margin-left: 6.0pt;margin-right: 6.0pt;}
.c4 {font-family: 'Times New Roman';font-size: 14.0pt;color: #000000;}
.c5 {line-height: 13.872pt;margin-top: 0.0pt;margin-bottom: 0.0pt;margin-left: 6.0pt;margin-right: 6.0pt;}
.c6 {line-height: 18.496pt;margin-top: 0.0pt;margin-bottom: 0.0pt;margin-left: 6.0pt;margin-right: 6.0pt;}
.c7 {font-family: 'Arial';font-size: 16.0pt;color: #000000;}
.c8 {font-family: 'Times New Roman';font-size: 12.0pt;color: #0000ff;text-decoration: underline;}
.c9 {font-family: 'Times New Roman';font-size: 16.0pt;color: #000000;}
.c10 {text-align: justify;line-height: 18.496pt;margin-top: 0.0pt;margin-bottom: 0.0pt;margin-left: 6.0pt;margin-right: 6.0pt;}
.c11 {font-family: 'Times New Roman';font-size: 16.0pt;color: #0000ff;text-decoration: underline;}
.c12 {text-align: justify;line-height: 12.716pt;margin-top: 0.0pt;margin-bottom: 0.0pt;margin-left: 6.0pt;margin-right: 6.0pt;}
.c13 {font-family: 'Times New Roman';font-size: 11.0pt;color: #0000ff;text-decoration: underline;}
.c14 {text-align: justify;line-height: 12.716pt;margin-top: 0.0pt;margin-bottom: 0.0pt;margin-left: 18.0pt;margin-right: 6.0pt;}
.c15 {text-align: justify;line-height: 13.872pt;margin-top: 0.0pt;margin-bottom: 0.0pt;margin-left: 18.0pt;margin-right: 6.0pt;}
.c16 {margin-top: 0.0pt;margin-bottom: 3.0pt;margin-left: 6.0pt;margin-right: 6.0pt;}
.c17 {line-height: 18.496pt;margin-top: 0.0pt;margin-bottom: 3.0pt;margin-left: 6.0pt;margin-right: 6.0pt;}
.c18 {line-height: 13.872pt;margin-top: 0.0pt;margin-bottom: 3.0pt;margin-left: 6.0pt;margin-right: 6.0pt;}
.c19 {line-height: 20.808pt;margin-top: 0.0pt;margin-bottom: 3.0pt;margin-left: 6.0pt;margin-right: 6.0pt;}
.c20 {font-family: 'Times New Roman';font-size: 18.0pt;color: #4f81bd;}
.c21 {line-height: 16.184pt;margin-top: 0.0pt;margin-bottom: 3.0pt;margin-left: 6.0pt;margin-right: 6.0pt;}
.c22 {height: 36.0pt;}
.c23 {word-wrap:break-word;width:6.424%;background-color: #ffffff;}
.c24 {margin-top: 0.0pt;margin-bottom: 0.0pt;margin-left: 5.4pt;margin-right: 5.299pt;}
.c25 {word-wrap:break-word;width:93.575%;background-color: #ffffff;}
.c26 {line-height: 13.872pt;margin-top: 0.0pt;margin-bottom: 0.0pt;margin-left: 5.5pt;margin-right: 5.0pt;}
.c27 {margin-top: 0.0pt;margin-bottom: 0.0pt;table-layout:fixed;margin-left: 6.0pt;margin-right: auto;width: 437.4pt;border-collapse: collapse;}
.c28 {line-height: 20.808pt;margin-top: 0.0pt;margin-bottom: 0.0pt;margin-left: 6.0pt;margin-right: 6.0pt;}
.c29 {margin-top: 0.0pt;margin-bottom: 0.0pt;}
.c30 {line-height: 13.872pt;margin-top: 0.0pt;margin-bottom: 0.0pt;}
.c31 {line-height: 20.808pt;margin-top: 0.0pt;margin-bottom: 5.0pt;margin-left: 6.0pt;margin-right: 6.0pt;}
.c32 {line-height: 13.872pt;margin-top: 0.0pt;margin-bottom: 5.0pt;margin-left: 6.0pt;margin-right: 6.0pt;}
.c33 {margin-top: 12.0pt;margin-bottom: 0.0pt;margin-left: 6.0pt;margin-right: 6.0pt;}
.c34 {line-height: 18.496pt;margin-top: 12.0pt;margin-bottom: 3.0pt;margin-left: 6.0pt;margin-right: 6.0pt;}
.c35 {font-family: 'Arial';font-size: 14.0pt;color: #000000;}
.c36 {line-height: 13.872pt;margin-top: 0.0pt;margin-bottom: 0.0pt;margin-left: 42.0pt;margin-right: 6.0pt;}
.c37 {line-height: 16.184pt;margin-top: 12.0pt;margin-bottom: 0.0pt;margin-left: 6.0pt;margin-right: 6.0pt;}
.c38 {height: 12.06pt;}
.c39 {word-wrap:break-word;border-width: 0.5pt;border-color: #000000;border-style: solid;width:43.902%;background-color: #e7f3fd;}
.c40 {line-height: 11.56pt;margin-top: 0.0pt;margin-bottom: 0.0pt;margin-left: 5.4pt;margin-right: 5.0pt;}
.c41 {font-family: 'Times New Roman';font-size: 10.0pt;color: #000000;}
.c42 {word-wrap:break-word;border-width: 0.5pt;border-color: #000000;border-style: solid;width:56.097%;background-color: #e7f3fd;}
.c43 {line-height: 11.56pt;margin-top: 0.0pt;margin-bottom: 0.0pt;margin-left: 5.8pt;margin-right: 4.6pt;}
.c44 {word-wrap:break-word;border-width: 0.5pt;border-color: #000000;border-style: solid;width:43.902%;background-color: #ffffff;}
.c45 {word-wrap:break-word;border-width: 0.5pt;border-color: #000000;border-style: solid;width:56.097%;background-color: #ffffff;}
.c46 {margin-top: 0.0pt;margin-bottom: 0.0pt;table-layout:fixed;margin-left: 0.599pt;margin-right: auto;width: 442.8pt;border-collapse: collapse;}
.c47 {word-wrap:break-word;border-width: 0.5pt;border-color: #000000;border-style: solid;width:50.0%;background-color: #e7f3fd;}
.c48 {word-wrap:break-word;border-width: 0.5pt;border-color: #000000;border-style: solid;width:50.0%;background-color: #ffffff;}
.c49 {word-wrap:break-word;border-width: 0.5pt;border-color: #000000;border-style: solid;width:32.723%;background-color: #e7f3fd;}
.c50 {line-height: 11.56pt;margin-top: 0.0pt;margin-bottom: 0.0pt;margin-left: 5.4pt;margin-right: 4.5pt;}
.c51 {word-wrap:break-word;border-width: 0.5pt;border-color: #000000;border-style: solid;width:32.52%;background-color: #e7f3fd;}
.c52 {line-height: 11.56pt;margin-top: 0.0pt;margin-bottom: 0.0pt;margin-left: 6.3pt;margin-right: 4.5pt;}
.c53 {word-wrap:break-word;border-width: 0.5pt;border-color: #000000;border-style: solid;width:34.756%;background-color: #e7f3fd;}
.c54 {line-height: 11.56pt;margin-top: 0.0pt;margin-bottom: 0.0pt;margin-left: 6.299pt;margin-right: 3.6pt;}
.c55 {word-wrap:break-word;border-width: 0.5pt;border-color: #000000;border-style: solid;width:32.723%;background-color: #ffffff;}
.c56 {word-wrap:break-word;border-width: 0.5pt;border-color: #000000;border-style: solid;width:32.52%;background-color: #ffffff;}
.c57 {word-wrap:break-word;border-width: 0.5pt;border-color: #000000;border-style: solid;width:34.756%;background-color: #ffffff;}
.c58 {word-wrap:break-word;border-width: 0.5pt;border-color: #000000;border-style: solid;width:35.185%;background-color: #e7f3fd;}
.c59 {word-wrap:break-word;border-width: 0.5pt;border-color: #000000;border-style: solid;width:64.814%;background-color: #e7f3fd;}
.c60 {line-height: 11.56pt;margin-top: 0.0pt;margin-bottom: 0.0pt;margin-left: 6.3pt;margin-right: 4.0pt;}
.c61 {word-wrap:break-word;border-width: 0.5pt;border-color: #000000;border-style: solid;width:35.185%;background-color: #ffffff;}
.c62 {word-wrap:break-word;border-width: 0.5pt;border-color: #000000;border-style: solid;width:64.814%;background-color: #ffffff;}
.c63 {margin-top: 0.0pt;margin-bottom: 0.0pt;table-layout:fixed;margin-left: 0.599pt;margin-right: auto;width: 437.4pt;border-collapse: collapse;}
.c64 {word-wrap:break-word;border-width: 0.5pt;border-color: #000000;border-style: solid;width:100.0%;background-color: #e7f3fd;}
.c65 {height: 832.82pt;}
.c66 {word-wrap:break-word;border-width: 0.5pt;border-color: #000000;border-style: solid;width:100.0%;background-color: #ffffff;}
.c67 {line-height: 16.184pt;margin-top: 12.0pt;margin-bottom: 3.0pt;margin-left: 6.0pt;margin-right: 6.0pt;}
.c68 {word-wrap:break-word;border-width: 0.5pt;border-color: #000000;border-style: solid;width:30.691%;background-color: #e7f3fd;}
.c69 {word-wrap:break-word;border-width: 0.5pt;border-color: #000000;border-style: solid;width:40.65%;background-color: #e7f3fd;}
.c70 {word-wrap:break-word;border-width: 0.5pt;border-color: #000000;border-style: solid;width:28.658%;background-color: #e7f3fd;}
.c71 {word-wrap:break-word;border-width: 0.5pt;border-color: #000000;border-style: solid;width:30.691%;background-color: #ffffff;}
.c72 {word-wrap:break-word;border-width: 0.5pt;border-color: #000000;border-style: solid;width:40.65%;background-color: #ffffff;}
.c73 {word-wrap:break-word;border-width: 0.5pt;border-color: #000000;border-style: solid;width:28.658%;background-color: #ffffff;}
.c74 {word-wrap:break-word;border-width: 0.5pt;border-color: #000000;border-style: solid;width:25.058%;background-color: #e7f3fd;}
.c75 {word-wrap:break-word;border-width: 0.5pt;border-color: #000000;border-style: solid;width:30.825%;background-color: #e7f3fd;}
.c76 {line-height: 11.56pt;margin-top: 0.0pt;margin-bottom: 0.0pt;margin-left: 5.8pt;margin-right: 4.5pt;}
.c77 {word-wrap:break-word;border-width: 0.5pt;border-color: #000000;border-style: solid;width:44.116%;background-color: #e7f3fd;}
.c78 {line-height: 11.56pt;margin-top: 0.0pt;margin-bottom: 0.0pt;margin-left: 6.299pt;margin-right: 3.85pt;}
.c79 {height: 35.18pt;}
.c80 {word-wrap:break-word;border-width: 0.5pt;border-color: #000000;border-style: solid;width:25.058%;background-color: #ffffff;}
.c81 {word-wrap:break-word;border-width: 0.5pt;border-color: #000000;border-style: solid;width:30.825%;background-color: #ffffff;}
.c82 {word-wrap:break-word;border-width: 0.5pt;border-color: #000000;border-style: solid;width:44.116%;background-color: #ffffff;}
.c83 {margin-top: 0.0pt;margin-bottom: 0.0pt;table-layout:fixed;margin-left: 0.599pt;margin-right: auto;width: 452.55pt;border-collapse: collapse;}
.c84 {height: 289.5pt;}
.c85 {word-wrap:break-word;border-width: 0.5pt;border-color: #000000;border-style: solid;width:25.609%;background-color: #e7f3fd;}
.c86 {word-wrap:break-word;border-width: 0.5pt;border-color: #000000;border-style: solid;width:31.504%;background-color: #e7f3fd;}
.c87 {word-wrap:break-word;border-width: 0.5pt;border-color: #000000;border-style: solid;width:42.886%;background-color: #e7f3fd;}
.c88 {word-wrap:break-word;border-width: 0.5pt;border-color: #000000;border-style: solid;width:25.609%;background-color: #ffffff;}
.c89 {word-wrap:break-word;border-width: 0.5pt;border-color: #000000;border-style: solid;width:31.504%;background-color: #ffffff;}
.c90 {word-wrap:break-word;border-width: 0.5pt;border-color: #000000;border-style: solid;width:42.886%;background-color: #ffffff;}
.c91 {height: 925.3pt;}
.c92 {height: 543.82pt;}
.c93 {height: 1040.9pt;}
.c94 {height: 301.06pt;}
.c95 {height: 69.86pt;}
.c96 {height: 358.86pt;}
.c97 {height: 23.62pt;}
.c98 {height: 46.74pt;}
.c99 {height: 277.94pt;}
.c100 {height: 139.22pt;}
.c101 {height: 81.42pt;}
.c102 {height: 416.66pt;}
.c103 {height: 1376.14pt;}
.c104 {height: 92.98pt;}
.c105 {height: 254.82pt;}
.c106 {height: 173.9pt;}
.c107 {height: 959.98pt;}
.c108 {height: 116.1pt;}
